DHCPv6 Declinet not sent after duplicate address is detected.

RFC 8415 https://tools.ietf.org/html/rfc8415#section-18.2.8 we MUST send DHCv6 decline if we see duplicate adddress on the network. While I was testing this when linux kernel found that address is not usable as there was a duplicate address in the network odhcp6c did not send decline. 

Wanted to know if this case is not handled? 

Snippet from RFC. 

"    The client MUST perform duplicate address detection as per
      Section 5.4 of [RFC4862], which does list some exceptions, on each
      of the received addresses in any IAs on which it has not performed
      duplicate address detection during processing of any of the
      previous Reply messages from the server.  The client performs the
      duplicate address detection before using the received addresses
      for any traffic.  If any of the addresses are found to be in use
      on the link, the client sends a Decline message to the server for
      those addresses as described in Section 18.2.8."

Found it too.
For dhcpv6, there is no dad detect before use it.
Otherwise, I see that like wide-dhcpv6 had already support generating DECLINE msg.
Hope that there is someone to fix it.